/* Inter font */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
/* raleway font  */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
/* Shared styles start */

.primary-color {
  background-color: rgba(78, 71, 255, 1);
}
/* Shared styles ends */
.header {
  background: url("../Assets/Hero-bg.png");
  background-position: cover;
}
/* navbar styles starts */
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.nav_bar h1 {
  font-size: 34px;
  color: rgba(78, 71, 255, 1);
  margin-top: 50px;
  margin-left: 250px;
}
.nav_bar button {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 250px;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}

/* navbar styles ends */

/* Banner styles starts */
.banner {
  text-align: center;
  margin: 158px 0 200px 0;
}
.banner-title {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
}
.banner-btn {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 12px 36px;
  border-radius: 10px;
  margin-bottom: 200px;
  border: none;
}

/* Banner styles ends */
