body {
  background-color: rgba(245, 248, 255, 1);
}

/* Inter font */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
/* raleway font  */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
/* Shared styles start */

.primary-bg {
  background-color: rgba(78, 71, 255, 1);
}

.primary-title-text-color {
  color: #252432;
}
.counter-color {
  color: rgba(78, 71, 255, 1);
}
.input-tag {
  width: 497px;
  /* height: 70px; */
  padding: 3px 15px;
  border-radius: 10px;
  border: 1px solid rgba(214, 221, 237, 1);
}
.btn:hover {
  background-color: mediumturquoise;
  cursor: pointer;
}
/* Shared styles ends */

.header {
  background: url("../Assets/Hero-bg.png");
  background-position: cover;
}

/* navbar styles starts  */
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.nav_bar h1 {
  font-size: 34px;
  color: rgba(78, 71, 255, 1);
  line-height: 150%;
  margin-top: 50px;
  margin-left: 250px;
}
.nav_bar button {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
  text-decoration: none;
  margin-right: 250px;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}
.main {
  width: 1140px;
  margin: 0 auto;
}
/* navbar styles ends */

/* Banner styles starts */
.banner {
  text-align: center;
  margin: 158px 0 200px 0;
}
.banner-title {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  line-height: auto;
}
.banner-btn {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  line-height: 150%;
  padding: 12px 36px;
  border-radius: 10px;
  margin-bottom: 200px;
  border: none;
}

/* Banner styles ends */

/* Main first-section styles */
.first-section {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-left-side {
  width: 510px;
}
.section-left-side .section-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: auto;
}

.section-left-side .section-description {
  font-size: 24px;
  font-weight: 600;
  color: #2524328c;
  line-height: 30px;
  margin-bottom: 30px;
}
.section-left-side button {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}

.section-image-right-side img {
  border-radius: 48px;
  width: 400px;
  opacity: 100%;
}

/* Main second-section styles */

.second-section {
  width: 1140px;
  background-color: rgba(78, 71, 255, 0.1);
  margin: 0 auto;
  padding: 50px 80px;
  border-radius: 24px;
}
.second-section-title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  line-height: auto;
}
.second-section-counter {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.counter-number {
  font-size: 80px;
  font-weight: bold;
  line-height: auto;
}

.counter-sub-title {
  margin-top: -50px;
  font-size: 20px;
  line-height: auto;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
/* Main second-section styles ENDS*/

/* Main THIRD-section styles STARTS*/
.third-section {
  margin-top: 150px;
}
.section-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.card-container {
  width: 350px;
  background-color: #ffffff;
  border-radius: 14px;
  padding: 24px;
}
.container-title {
  text-align: center;
}
.card-description {
  font-size: 18px;
  font-weight: 500;
  color: rgba(30, 30, 30, 1);
}
.footer-date {
  font-size: 14px;
  font-weight: 500;
  color: rgba(179, 179, 179, 1);
}
.card-container img {
  width: 20px;
  height: 20px;
  padding: 24px 0;
  opacity: 100%;
}
.card-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.card-footer img {
  width: 40px;
  height: 40px;
  opacity: 100%;
}
.footer-date {
  margin-top: -15px;
}
/* Main THIRD-section styles ENDS*/

/* Main Fourth-section styles STARTS*/

.fourth-container-contents {
  max-width: 1140px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 70px 150px;
  border-radius: 14px;
}
.container-title {
  color: rgba(0, 0, 0, 1);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 120%;
}
.container-description {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.container-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
  padding: 12px 36px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: none;
}
.fourth-container-image {
  width: 840px;
  height: 360px;
  border-radius: 48px;
  opacity: 100%;
}
.fourth-container-image,
.container-button {
  display: block;
  margin: 0 auto;
}
/* Main Fourth-section styles ENDS*/

/* Main FIFTH-section styles STARTS*/
.fifth-section {
  min-width: 528px;
  margin: 0 auto;
}
.contact-container {
  display: flex;
  gap: -50px;
  justify-content: space-evenly;
  align-items: center;
}
form label {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  line-height: 120%;
}
.fifth-container-title {
  font-size: 97px;
  font-weight: bold;
  line-height: 120%;
}
form textarea {
  color: rgba(0, 0, 0, 0.5);
}
/* .margin-bottom {
  margin-bottom: 20px;
} */
.form-btn {
  width: 530px;
  text-align: center;
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}

/* Main fifth-section styles ENDS*/

/* Footer styles starts */
.footer-container {
  margin: 90px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-container-content {
  padding: 100px 400px;
}
.footer-title {
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 20px;
}

.footer-description {
  font-size: 16px;
  font-weight: 600;
  color: rgba(179, 179, 179, 1);
  margin-bottom: 20px;
}

footer div ul {
  list-style: none;
  display: flex;
  gap: 45px;
  margin-top: 20px;
}

footer ul li a {
  color: rgba(179, 179, 179, 1);
  font-size: 18px;
  text-decoration: none;
}
/* Footer styles ends */
